<!DOCTYPE html>
<html>
    <head>
        <title>¿es par? 🐄🍃</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    </head>
    <body>
        <div class="contenedor">
            <form action="{{ url_for('realizar_operación')}}" method="POST">
                <h1>Wachador de Números Pares</h1>
                <label>Ingresa un valor numérico:</label>
                <input type="number" name="value">
                <button class="boton-formulario">Aceptar</button>
            </form>
            
            {% if resultado is not none %}
                {% if resultado %}
                    <p>Sí es par</p>
                    <img class="mike.image" src="{{ url_for('static', filename='images/yes-approve.png') }}" alt="yes-approve">
                {% else %}
                    <p>No es par</p>
                    <img class="imagen-malo" src="{{ url_for('static', filename='images/otravezxlaregaste.jpg') }}" alt="No-approve">
                {% endif %}
            {% endif %}
        </div>
    </body>
</html>